.userAvatar{
    width: 150px;
    height:150px;
}
.selectedPage {
    font-weight: bold;
    color: red;
}
.pointed {
    cursor: pointer
}
.pageNumbers {
    align-content: center;
    margin:0 auto;
}
.usersWrapper {
    display:block;
    text-align: center;
}
.userDiv {
    display: inline-block;
}