.footer {
    grid-area: f;
    background-color: whitesmoke;
    margin: 5px;
    position: relative;
    text-align: center;
}
.fContent{
    position: absolute; bottom: 0; left: calc(50% - 35px);
    background-color: rgba(0.0.0.0,3);
}